body {
    margin: 0;
}


ul {
    list-style-type: none;
}

.topbar {
    background-color: green;
    color: white;
    text-align: center;
    font-size: 30px;
    padding: 1px;
}

.undertopbar {
    background: black;
    color: green;
    overflow: hidden;
    white-space: nowrap;
}

.undertopbar-text {
    display: inline-block;
    padding-left: 100%;
    animation: scroll 10s linear infinite;
    font-size: 20px;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

.container {
    display: flex;
    height: 100vh;
}

.lewypanel,
.prawypanel {
    width: 20%;
    background: #999;
}

.srodkowypanel {
    width: 60%;
    background: rgb(117, 216, 117);
}

.main-content-text {
    text-align: center;
}
